@media(max-width: 850px) {

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  body {
    padding: 0 10px;
  }

  .header-top {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .header-left {
    position: absolute;
    top: 5px;
    left: 15px;
  }

  .header-right {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .header-search {
    padding-top: 80px;
  }

  .header-search .container {
    max-width: 600px;
    height: auto;
  }

  .header-search .input_wrap {
    display: block;
    height: 45px;
    margin-bottom: 20px;
  }

  .header-search .input_wrap .logo_wrap {
    float: right;
  }

  .header-search .search-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    margin: 0;
  }

  /* ハンバーガーメニュー */

  .openBtn {
  position: relative;
  background-color: #2557A7;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.openBtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  z-index: 300;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
}

.openBtn span:nth-of-type(1) {
  top: 15px;
}
.openBtn span:nth-of-type(2) {
  top: 23px;
}
.openBtn span:nth-of-type(3) {
  top: 31px;
}

.openBtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openBtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.sp-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  padding-top: 20%;
  background-color: #2557A7;
}

.sp-menu.is-active {
  display: block;
}

.sp-menu .header-logo {
  margin-bottom: 20px;
  text-align: center;
}

.sp-menu .header-logo a {
  color: #fff;
  font-size: 30px;
}

.sp-menu .header-li {
  text-align: center;
}

.sp-menu .header-li a {
  color: #ffffff;
}

.sp-menu .logo_contents {
  text-align: center;
}

.sp-menu .logo_wrap {
  display: inline-block;
  margin: 10px;
}

.sp-menu .logo_wrap svg {
  width: 20px;
  height: 20px;
  color: #fff;
}

}

@media(max-width: 400px) {

  body {
    font-size: 10px;
  }

  .header-search .input_wrap input {
    width: 70%;
    font-size: 10px;
  }

  .header-search .input_wrap .logo_wrap svg {
    width: 10px;
    height: 10px;
  }

}